body {
    margin: 0;
    font-family: "Smythe", system-ui;
    }

/* Top Banner */
header, h1, h2, .billed-item-name{
    margin:0;
    font-weight: 100;
}

header{
     margin: 0;
     background: black url("./images/app-banner.jpg");
     color: white;
     background-size: cover;
     background-repeat: no-repeat;
     padding: 1.5em;
     background-position: center;
     letter-spacing: 0.03em;
}

h1{
    font-size: 2em;
}

.subheading{
    font-size: 1em;
}

h2{
    font-size: 1.75em;
}

h3, .billed-item-price{
    font-size: 1.5em;
}

.select-menu, .item, .billed-item, #bill-item-remove{
display: flex;
}

/* Menu */

#menu-items, #bill-list{
    margin: 0 2em;
}

.select-menu{
    border-bottom: 2px solid rgba(210, 210, 210, 0.3);
    justify-content: space-between;
    padding: 1em 0;
}

.item, .select-menu{
    align-items: center;
}

.item{
    flex-direction: row;
}

.item-emoji{
   font-size: 60px;
}

.item-name, .ingredients,.price{
    margin: 0;
    line-height: 1.25em;
    letter-spacing: 0.05em;
}

.ingredients, .remove-item-btn{
    color: #8B8B8B;
    font-size: 13px;
}

.price{
    font-size: 22px;
}

#add-item-btn{
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid grey;
    background-color: white;
}

#add-item-btn:active, .remove-item-btn:active{
    box-shadow: 0 0 2px black;
}


/* Bill */

#bill-list{
    display: none;
    text-align: center;
}

#bill{
    border-bottom: 2px solid black;
}

.billed-item{
    justify-content: space-between;
    padding-bottom: 18px;
}

#bill-item-remove{
   gap: 10px;
}

.billed-item-price{
  color: green;
}

.remove-item-btn{
    border: none;
    background: none;
}

/*Checkout Payment*/

#payment-details, .card-details{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#form-heading{
    padding: 0 40px;
}

#payment-details, #payment-overlay{
position: fixed;
top: 0;
left: 0;
}

#payment-details, .card-details, button[type="submit"]{
    border-radius: 2px;
    padding: 0.75em;
}

#payment-details{
    width: 300px;
    height: 330px;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: white;
    z-index: 1001;
}

.card-details{
    border: 1px solid #757575;
    margin-bottom: 14px;
}

button[type="submit"]
{
    background-color: 16DB99;
    border: none;
    color: white;
    margin-top: 0.75em;
    font-weight: 800;
}

#payment-overlay {
  display: block;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#payment-overlay-disp{
    display: none;
}

/* Media Queries */

@media(min-width: 550px){
     
    header{
        height: 7rem;
        font-size: 1.5rem;
    }
}

@media(min-width: 800px){
     
    header{
        height: 10rem;
        font-size: 2rem;
    }
}